# PRACTICE EXERCISES:

<a href = '#sec1'> 1.Introduction to Variables </a>

<a href = '#sec2'> 2. Collection of Variables </a>

<a href = '#sec3'> 3. Data Types </a>

<a href = '#sec4'> 4. Conditional Statement </a>

<a href = '#sec5'> 5. Loop Statement </a>

<a href = '#sec6'> 6. Functions </a>

<a id = 'sec1'></a>

## 1. Introduction to Variables

### 1.1) What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

*float*

In [1]:
a=10
b=5.1
add = a+b
type(add)

float

### 1.2) Is 5 = (3+2)?

*True*

In [2]:
5 == (3+2)

True

### 1.3) Add 33 in variable *a* and print the result

a = 3

In [3]:
a += 33
a

43

### 1.4) Convert integer variable *a* to float and check its type

a = 3

In [5]:
a = float(a)
type(a)

float

<a id = 'sec2'></a>
## 2. Collection of Variables

### 2.1) Create a list of repeated element (element 2,48 times)

In [14]:
list = [2] * 48
print(list)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

### 2.2)  Replace the second element of the list with "strawberries"
list = ["apple","orange","grapes","watermelon"]

Python's indexing starts from 0 hence the second element will be indexed as 1. 

Here, we are assigning the value 'strawberry' to the second element of the variable 'list' which contains a pre-defined list.

In [15]:
list = ["apple","orange","grapes","watermelon"]
list[1] = 'strawberries'
list

['apple', 'strawberries', 'grapes', 'watermelon']

### 2.3) Check length of list

List1 =["a","b","c","d","e"]

In [16]:
List1 =["a","b","c","d","e"]
len(List1)

5

### 2.4) Create a dictionary with the following information:

brand = Audi

Model = Q2

Year = 1980

In [18]:
car = {'brand':'Audi', 'Model':'Q2', 'Year':1980}
car

{'brand': 'Audi', 'Model': 'Q2', 'Year': 1980}

### 2.5) Create a set of following elements

1.0, "Hello", 55 , (6,7,8)

In [20]:
a = (1.0, 'hello', 55, (6, 7, 8))
set(a)

{(6, 7, 8), 1.0, 55, 'hello'}

<a id = 'sec3'></a>

## 3. Data Types and String Manipulation

### 3.1) Printing your name My_Name = "My name is Jupyter!" Also, check if My_Name is all Caps or not. Use isupper() to check returns True if all the letters are Capitals, False if atleast one letter in in lower case. 

HINT: My_Name.isupper()

In [21]:
My_Name = 'My name is Jupyter!'
print(My_Name)
My_Name.isupper()

My name is Jupyter!

False

### 3.2)  Convert My_Name to all caps. Hint: My_Name.upper().

In [23]:
My_Name = My_Name.upper()
My_Name

'MY NAME IS JUPYTER!'

### 3.3) if int1 = "500", what is the Datatype of int1

*string*

In [24]:
int1='500'
type(int1)

str

<a id = 'sec4'></a>

## 4. Practice Exercise on Conditional Statement

### 4.1) if x = 20 and y = 30. Write a python code to check if x is less than y.

In [27]:
x = 20
y = 30

if  x < y:
    print('x is less than y')
else:
    print('x is not less than y')

x is less than y

### 4.2) Check if *a* is equal to 10, If yes, print "Hello", else print "Good Bye"
a = 56

In [28]:
a = 56
if a==56:
    print('Hello')
else:
    print('Good Bye')

Hello

### 4.3) Check whether a number is even or odd
a = 2020

In [29]:
a = 2020

if a%2 == 0:
    print('Not odd')
else:
    print('odd')

Not odd

### 4.4) Check if the word "Data" is present in the sentence "I am a Data Scientist". If found, print "It is present" else print FALSE.

In [30]:
if 'Data' in 'I am a Data Scientist':
    print('it is present')
else:
    print('false')

it is present

### 4.5) Write python code to check if a number is positive or negative.

In [31]:
x = -10
if x < 0:
    print('negative')
else:
    print('positive')

negative

<a id = 'sec5'></a>

## 5. Practice Exercise on Loops

### 5.1) Print Data Science 5 times using for loop

In [32]:
for i in range(5):
    print('Data Science', end=' ')

Data Science Data Science Data Science Data Science Data Science

Note: Remember to keep the index as one more than what is required. In the above code the indexing is done from 0 to 5 which are 6 places but Python has printed it 5 times.

### 5.2) Print all the even numbers from 1 to 20 (both inclusive) using for loop.

In [35]:
for i in range(1,21):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

<a id = 'sec6'></a>

## 6. Function

### 6.1) Define the python function to check whether the number 33 is even or odd

In [37]:
def evenorodd(x):
    if x%2 == 0:
        print('even')
    else:
        print('odd')
        
evenorodd(33)

odd

### 6.2)Write the python program to get the unique values from the given list

In [38]:
def unique(x):
    return set(x)

list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]
unique(list)

{1, 2, 3, 4, 5}

### 6.3) Define the python function which adds two global numeric variables (1204 and 344536) Without Argument.

In [39]:
def add():
    return var1 + var2

var1=1204
var2=344536

add()

345740

## Keep Learning!